* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    color: #000000;
    transition: background-image 1s ease-in-out;
}

.day {
    font-size: 3rem;
}

.time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

.top_block {
    display: flex;
    justify-content: space-between;
}

button {
    background-image: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
    transition: transform 0.2s ease;
}

button:hover {
    filter: grayscale(.8);
}

button:active,
button:focus {
    outline: 0;
}

button:active {
    transform: scale(1.02)
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.quote {
    width: 40vw;
    height: 20vh;
    font: 1.2rem Georgia, serif;
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    opacity: 0.7;
}
.quote figcaption,
.quote blockquote {
    margin: 1em;
}

.quote figcaption {
    text-align: right;
}

.weather__block {
    background-color: #eee;
    opacity: 0.6;
    color: black;
    text-align: right;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5em;
    width: 8rem;
    height: 8rem;
}

#city:hover {
    background: black;
    color: white;
}

.field {
    transition: all 0.2s ease;
}

.field:hover {
    background: #eee;
    border-radius: 0.3rem;
    opacity: 0.7;
    color: black;
}

@media(max-width: 1280px) {
    figure {
        height: 25vh;
        width: 60vw;
        font-size: 1.05rem;
    }
}
